@font-face {
  font-family: Lyon_Regular;
  src: url(../font/Lyon_Regular.otf);
}

@font-face {
  font-family: Lyon_Italic;
  src: url(../font/Lyon_Italic.otf);
}

.grid {
	width: 65%;
	margin: 0 auto;
    border-bottom: 0;
    max-width: 100%;
    border-collapse: collapse;
}

.over{
	height: 70vh;
	overflow: scroll;
}

th {
	text-align: left;
	padding-top: 6%;
	padding-bottom: 4%;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.1em;
	font-weight: normal;
}

button{
	border: 1px solid black;
	width: auto;
	padding: 5px;
	position: fixed;
	margin-bottom: 2%;
}




td {
	font-size: 1.5em;
	font-weight: normal;
	padding-top: 1%;
}

.row-important {
	border-bottom: 1px solid black;
}
.row-important:hover {
	border-bottom: 1px solid black;
	background-color: rgb(228, 161,58);
}

#row-info {
	display: none;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

.over{
	height: 100vh;
	overflow: scroll;
}
.grid {
	width: 100%;
	margin: 0 auto;
    border-bottom: 0;
    max-width: 100%;
    border-collapse: collapse;
}


}
